Владение Python 3. Знание SQL (PostgreSQL). Опыт написания rest api. Умение работать с Gitсистемами (GitLab, bitbucket, etc.). 
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Хорошее знание принципов разработки ПО: алгоритмы, деревья, графы, шаблоны, поиск ошибок, профилирование. Уверенное владение Python. Проактивный подход и стремление к...
Опыт работы Python разработчиком от 1х года. Опыт работы с API для мобильных приложений. Опыт разработки серверных приложений на...
Знание Python 3.6, вебфреймоворков (Flask или Django), ORM (SQLAlchemy или Django_ORM). Опыт работы c ОС Linux. 
Опыт работы не менее года.  Знание Python 3.  Понимание структур данных и базовых алгоритмов.  Понимание принципов ООП.  Опыт разработки с...
Что мы хотим видеть в коллеге: Знание языка Python 3.x. Знание языка SQL (опыт работы с СУБД Oracle, PostgreSQL...
Мы хотим видеть в своей команде опытного специалиста, желающего развиваться в области разработки торговых систем и приложений, работающих с биржевой...
В первую очередь нужно деливерить продукт.
Опыт проектирования и разработки высоконагруженных сервисов, организации процессов обработки больших данных. Продвинутый уровень Python 3, SQL, будет плюсом опыт разработки...
Уверенное знание python django, работа с gitlab, jira, postgresql. Понимание REST, websocket, паттернов проектирования, чтение стандартных схем и диаграмм (например...
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Знание Python 3.6, Django2  DRF, Celery, RabbitMQ, PostgreSQL. Опыт разработки Backend. Работа с *nix ОС. Знание Docker. 
Опыт коммерческой разработки с Python и с Web Framework 2 лет (Django, Django REST, Fast API и т.д.). 
Особенностью является использование kerberos (понимание не обязательно в рамках задач). Для нас важно: знание и умение работать с Pyramid. 
Технический английский. Желательно:
Отличные знания Python. Высокий уровень знаний Django. Разнообразный опыт работы с asyncio, aiohttp. Большой опыт разработки высоконагруженных и распределенных систем. 
Работал с Python 3, вебфреймоворками (Flask, Django). Знает классические алгоритмы и структуры баз данных, сортировки. Преимуществом будет опыт работы...
Опыт программирования на Python (Django, Pandas) от 1 года. Знание PostgreSQL, MySQL и умение работать с базами данных. 
Опыт работы с Django, DjangoCMS. Знание Python, PHP. Знание HTML5, CSS3.
